<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14192894461-bgdiegocng3skknvm4e6b6jjomqng170.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14192894461-bgdiegocng3skknvm4e6b6jjomqng170</string>
	<key>API_KEY</key>
	<string>AIzaSyAH3flqdB5X6YtGoT7EYqubMt5_3ql0DIY</string>
	<key>GCM_SENDER_ID</key>
	<string>14192894461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.secry.secry</string>
	<key>PROJECT_ID</key>
	<string>secryapi</string>
	<key>STORAGE_BUCKET</key>
	<string>secryapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14192894461:ios:02a756f218d6c246f7b994</string>
</dict>
</plist>